.hero1-wrapper {
  display: contents;
}
.hero1-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero1-column {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.hero1-container2 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 35%;
  justify-content: flex-start;
}
.hero1-image1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  flex-grow: 1;
  object-fit: cover;
}
.home-fragment10 {
  display: contents;
}
.home-text16 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text17 {
  display: inline-block;
}
@media(max-width: 991px) {
  .hero1-container1 {
    flex-direction: column;
  }
  .hero1-container2 {
    width: 100%;
    padding-top: 56.25%;
  }
}
@media(max-width: 767px) {
  .hero1-actions {
    width: 100%;
    justify-content: center;
  }
  .hero1-image1 {
    width: 100%;
  }
  .home-text16 {
    text-align: center;
  }
  .home-text17 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .hero1-actions {
    flex-direction: column;
  }
}

.gallery2-wrapper {
  display: contents;
}
.gallery2-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery2-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery2-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery2-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery2-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery2-image1 {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
.gallery2-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery2-image2 {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
.gallery2-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery2-image31 {
  width: 100%;
  max-width: 600px;
}
.gallery2-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery2-image32 {
  width: 100%;
  max-width: 600px;
}
.home-fragment12 {
  display: contents;
}
.home-text18 {
  display: inline-block;
}
.home-fragment13 {
  display: contents;
}
.home-text19 {
  display: inline-block;
}
@media(max-width: 991px) {
  .gallery2-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery2-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery2-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery2-image31 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery2-image32 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
@media(max-width: 479px) {
  .gallery2-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.team4-wrapper {
  display: contents;
}
.team4-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.team4-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team4-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team4-content2 {
  gap: var(--dl-space-space-sixunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team4-content3 {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team4-row1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.team4-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team4-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team4-placeholder-image1 {
  width: 80px;
  height: 80px;
}
.team4-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team4-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team4-social-icons1 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team4-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team4-placeholder-image2 {
  width: 80px;
  height: 80px;
}
.team4-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team4-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team4-social-icons2 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team4-row2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.team4-container2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-fragment14 {
  display: contents;
}
.home-text20 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text21 {
  display: inline-block;
}
.home-fragment16 {
  display: contents;
}
.home-text22 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text23 {
  display: inline-block;
}
.home-fragment18 {
  display: contents;
}
.home-text24 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment19 {
  display: contents;
}
.home-text25 {
  display: inline-block;
}
.home-fragment20 {
  display: contents;
}
.home-text26 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .team4-content2 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .team4-row1 {
    align-items: center;
    flex-direction: column;
  }
  .team4-row2 {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .team4-container1 {
    flex-direction: column;
  }
  .team4-container2 {
    flex-direction: column;
  }
  .home-text20 {
    text-align: center;
  }
}

.contact-form2-wrapper {
  display: contents;
}
.contact-form2-contact5 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form2-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-contact-info {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 8px 0;
}
.contact-form2-row1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.contact-form2-row2 {
  gap: 16px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.contact-form2-row3 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.contact-form2-form {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contact-form2-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-text-input1 {
  width: 100%;
}
.contact-form2-input2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-text-input2 {
  width: 100%;
}
.contact-form2-input3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-textarea {
  width: 100%;
}
.contact-form2-checkbox1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
}
.home-fragment21 {
  display: contents;
}
.home-text27 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text28 {
  display: inline-block;
}
.home-fragment23 {
  display: contents;
}
.home-text29 {
  display: inline-block;
}
.home-fragment24 {
  display: contents;
}
.home-text30 {
  display: inline-block;
}
@media(max-width: 991px) {
  .contact-form2-max-width {
    flex-direction: column;
  }
  .contact-form2-content {
    width: 100%;
  }
  .contact-form2-form {
    width: 100%;
  }
}

.toast2-wrapper {
  display: contents;
}
.toast2-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-theme-neutral-light);
}
.toast2-logo {
  height: 60px;
  object-fit: cover;
}
.toast2-header {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.toast2-content {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.toast2-navlink {
  text-decoration: none;
}
.toast2-close-button {
  display: flex;
  flex-direction: row;
}
.toast2-icon1 {
  width: 24px;
  height: 24px;
}
.home-fragment25 {
  display: contents;
}
.home-text31 {
  display: inline-block;
}
.home-fragment26 {
  display: contents;
}
.home-text32 {
  display: inline-block;
}
.home-fragment27 {
  display: contents;
}
.home-text33 {
  display: inline-block;
}
@media(max-width: 767px) {
  .toast2-logo {
    display: none;
  }
  .toast2-header {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .toast2-close-button {
    align-self: flex-start;
  }
}

.footer3-wrapper {
  display: contents;
}
.footer3-footer4 {
  gap: 80px;
  width: 100%;
  height: 88px;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer3-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer3-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer3-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer3-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 767px) {
  .footer3-row {
    flex-direction: column;
  }
  .footer3-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer3-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #141922;
}
.home-image {
  height: var(--dl-size-size-medium);
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text10 {
  color: rgb(200, 198, 198);
  font-size: 25px;
  font-family: "Inter";
}
.home-buttons1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #141922;
}
.home-login1 {
  color: #ffffff;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #141922;
}
.home-register1 {
  color: #ffffff;
  text-decoration: none;
  background-color: #141922;
}
.home-burger-menu {
  display: none;
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons2 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login2 {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-fragment10 {
  display: contents;
}
.home-text16 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text17 {
  display: inline-block;
}
.home-fragment12 {
  display: contents;
}
.home-text18 {
  display: inline-block;
}
.home-fragment13 {
  display: contents;
}
.home-text19 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text20 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text21 {
  display: inline-block;
}
.home-fragment16 {
  display: contents;
}
.home-text22 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text23 {
  display: inline-block;
}
.home-fragment18 {
  display: contents;
}
.home-text24 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment19 {
  display: contents;
}
.home-text25 {
  display: inline-block;
}
.home-fragment20 {
  display: contents;
}
.home-text26 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.home-fragment21 {
  display: contents;
}
.home-text27 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text28 {
  display: inline-block;
}
.home-fragment23 {
  display: contents;
}
.home-text29 {
  display: inline-block;
}
.home-fragment24 {
  display: contents;
}
.home-text30 {
  display: inline-block;
}
.home-fragment25 {
  display: contents;
}
.home-text31 {
  display: inline-block;
}
.home-fragment26 {
  display: contents;
}
.home-text32 {
  display: inline-block;
}
.home-fragment27 {
  display: contents;
}
.home-text33 {
  display: inline-block;
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text16 {
    text-align: center;
  }
  .home-text17 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-text20 {
    text-align: center;
  }
}
