.sign-in3-wrapper {
  display: contents;
}
.sign-in3-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in3-max-width {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  z-index: 100;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.sign-in3-form-root {
  gap: var(--dl-space-space-unit);
  width: 600px;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.sign-in3-form1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in3-form2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sign-in3-email {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-in3-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-in3-password {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in3-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-in3-hide-password {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.sign-in3-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
.sign-in3-textinput2 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-in3-link {
  align-self: flex-end;
  text-decoration:  underline none;
}
.sign-in3-container3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in3-button1 {
  width: 100%;
  align-self: center;
}
.sign-in3-container4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in3-divider1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sign-in3-divider2 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.sign-in3-divider3 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.sign-in3-button2 {
  width: 100%;
  align-self: center;
}
.sign-in3-sign-up-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
.sign-in3-container5 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0,0,0,0.4);
}
.signin-fragment10 {
  display: contents;
}
.signin-text15 {
  display: inline-block;
  text-align: center;
}
.signin-fragment11 {
  display: contents;
}
.signin-text16 {
  display: inline-block;
  text-align: center;
}
.signin-fragment12 {
  display: contents;
}
.signin-text17 {
  display: inline-block;
  align-self: center;
}
@media(max-width: 991px) {
  .sign-in3-form-root {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .sign-in3-form-root {
    padding: 0px;
  }
  .sign-in3-button1 {
    width: 100%;
  }
  .sign-in3-button2 {
    width: 100%;
  }
}

.footer3-wrapper {
  display: contents;
}
.footer3-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer3-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer3-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.footer3-logo {
  gap: 24px;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer3-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer3-social-links {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.footer3-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer3-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer3-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.signin-fragment14 {
  display: contents;
}
.signin-text19 {
  display: inline-block;
}
.signin-fragment18 {
  display: contents;
}
.signin-text23 {
  display: inline-block;
}
.signin-fragment17 {
  display: contents;
}
.signin-text22 {
  display: inline-block;
}
.signin-fragment20 {
  display: contents;
}
.signin-text25 {
  display: inline-block;
}
.signin-fragment15 {
  display: contents;
}
.signin-text20 {
  display: inline-block;
}
.signin-fragment19 {
  display: contents;
}
.signin-text24 {
  display: inline-block;
}
.signin-fragment16 {
  display: contents;
}
.signin-text21 {
  display: inline-block;
}
.signin-fragment13 {
  display: contents;
}
.signin-text18 {
  display: inline-block;
}
@media(max-width: 991px) {
  .footer3-logo {
    width: auto;
  }
}
@media(max-width: 767px) {
  .footer3-content {
    flex-direction: column;
  }
  .footer3-row {
    flex-direction: column;
  }
  .footer3-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer3-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer3-content {
    width: 100%;
  }
  .footer3-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.signin-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signin-container2 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signin-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #141922;
}
.signin-image {
  height: var(--dl-size-size-small);
}
.signin-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.signin-links1 {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.signin-buttons1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #141922;
}
.signin-login1 {
  color: #ffffff;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  background-color: #141922;
}
.signin-register1 {
  color: #ffffff;
  background-color: #141922;
}
.signin-burger-menu {
  display: none;
}
.signin-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.signin-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.signin-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signin-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.signin-logo {
  height: 2rem;
}
.signin-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.signin-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.signin-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.signin-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.signin-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.signin-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.signin-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.signin-buttons2 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.signin-login2 {
  margin-right: var(--dl-space-space-twounits);
}
.signin-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.signin-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.signin-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.signin-fragment10 {
  display: contents;
}
.signin-text15 {
  display: inline-block;
  text-align: center;
}
.signin-fragment11 {
  display: contents;
}
.signin-text16 {
  display: inline-block;
  text-align: center;
}
.signin-fragment12 {
  display: contents;
}
.signin-text17 {
  display: inline-block;
  align-self: center;
}
.signin-fragment13 {
  display: contents;
}
.signin-text18 {
  display: inline-block;
}
.signin-fragment14 {
  display: contents;
}
.signin-text19 {
  display: inline-block;
}
.signin-fragment15 {
  display: contents;
}
.signin-text20 {
  display: inline-block;
}
.signin-fragment16 {
  display: contents;
}
.signin-text21 {
  display: inline-block;
}
.signin-fragment17 {
  display: contents;
}
.signin-text22 {
  display: inline-block;
}
.signin-fragment18 {
  display: contents;
}
.signin-text23 {
  display: inline-block;
}
.signin-fragment19 {
  display: contents;
}
.signin-text24 {
  display: inline-block;
}
.signin-fragment20 {
  display: contents;
}
.signin-text25 {
  display: inline-block;
}
@media(max-width: 767px) {
  .signin-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .signin-desktop-menu {
    display: none;
  }
  .signin-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signin-text10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .signin-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .signin-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .signin-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .signin-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .signin-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .signin-mobile-menu {
    padding: 16px;
  }
}
